:root {
  /*--bs-body-bg: #272b30;*/
  /*--bs-body-bg: #5C4033;*/
  --bs-body-bg: #573518;
  --bs-body-bg-rgb: 107, 68, 35;
  /*--bs-body-bg: #483C32;*/

  /*Trying out different colors for labels/body, slightly darker?*/
  /*--bs-body-color: #aaa; original*/
  /*--bs-body-color-rgb: 170, 170, 170;*/
  --bs-body-color: #8f8f8f;
  --bs-body-color-rgb: 115, 115, 115;
}

.form-control{
  color: #e1e1e1;
  background-color: #726c6c;
  border-color: #272b30;
  --bs-highlight-bg: #272b30;
}

.form-select{
  color: #e1e1e1;
  background-color: #726c6c;
  border-color: #272b30;
  --bs-highlight-bg: #272b30;
}

.img-fluid{
  border: 2px solid #272b30;
  padding: 0;
}
.btn-primary {
  color: #e1e1e1;
  border-color: #272b30;
  border-width: 1px;
}
.btn-secondary {
  color: #e1e1e1;
  border-color: #272b30;
  border-width: 1px;
}
.card .btn-like {
  z-index: 1;
  position: relative;
}
.card .author-link {
  z-index: 1;
  position: relative;
  text-decoration: wavy underline;
}
.d-flex {
  gap: 10px;
}
.card {
  border-width: 3px;
  border-color: #272b30;
  border-style: double;
}